#######################################################################
#
#   ################
#   # .env_example #
#   ################
#
# WARNING: THIS IS AN EXAMPLE FILE OF `.env` FILE WITH CONFIGURATION.
# CHANGES IN THIS FILE WILL NOT BE REFLECTED IN THE PROGRAM.
# TO APPLY CHANGES RENAME THIS FILE TO `.env`
#######################################################################

#########
# BEGIN
#########

# Main application name is set using the `BASE__APP_NAME` variable.
BASE__APP_NAME="dhr-download-stac-relay"

#########
# SANIC
#########

# Sanic host can be changes using `SANIC__SERVER_HOST` variable. It defaults to 0.0.0.0, thus server will listen
# from entire IP range
# SANIC__SERVER_HOST="0.0.0.0"

# Sanic port can be changed using `SANIC__SERVER_PORT` variable. It defaults to 8080.
# In the case of changing the port, approppriate modification must be made in `Dockerfile` and `docker-compose.yml`.
SANIC__SERVER_PORT="8080"

# Credentials for Sanci Basic auth
# Key: scope name; value: dictionary of usernames:passwords
SANIC_AUTH_CONFIG='{
    "scope_name_1": {
        "username_1": "password",
        "username_2": "password"
    },
    "scope_name_2": {
        "username_3": "password",
        "username_4": "password"
    }
}'

##############
# S3 STORAGE
##############

# Credentials for S3 storages
# Key is S3 service name; value: dictionary of service config
S3_SERVICES='{
    "scope_name_1": {
        "host_base": "https://s3.cl4.du.cesnet.cz",
        "host_bucket": "s3_bucket_name",
        "access_key": "S3ACCESSKEY",
        "secret_key": "S3SECRETKEY"
    },
    "scope_name_2": {
        "host_base": "https://s3.cl4.du.cesnet.cz",
        "host_bucket": "s3_bucket_name",
        "access_key": "S3ACCESSKEY",
        "secret_key": "S3SECRETKEY"
    },
    "scope_name_3": {
        "host_base": "https://s3.cl5.du.cesnet.cz",
        "host_bucket": "s3_bucket_name",
        "access_key": "S3ACCESSKEY",
        "secret_key": "S3SECRETKEY"
    }
}'

###########
# LOGGING
###########

# LOG LEVELS:
#   CRITICAL = 50; FATAL = CRITICAL
#   ERROR = 40
#   WARNING = 30; WARN = WARNING
#   INFO = 20
#   DEBUG = 10
#   NOTSET = 0

LOGGER__LOG_DIRECTORY="./log"
# Default logger file name is set to `{BASE__APP_NAME}.log`
# LOGGER__LOG_FILENAME="dhr-download-stac-relay.log"

LOGGER__LOG_LEVEL=20

#######
# END
#######
